<div>
  <h4>{{ birdsService.currentAnimal.name }}</h4>
  <p>Lifespan: {{ birdsService.currentAnimal.lifespan }}</p>
  <p>Flight speed: {{ birdsService.currentAnimal.speed }} km/h</p>
  <p>Weight: {{ birdsService.currentAnimal.weight }}</p>
  <p>Clutch size: {{ birdsService.currentAnimal.clutchSize }}</p>
  <p>Distribution: {{ birdsService.currentAnimal.distribution }}</p>
  <img
    [src]="birdsService.currentAnimal.src"
    [alt]="birdsService.currentAnimal.name"
  />
</div>
<div class="row justify-content-center">
  <app-paginator></app-paginator>
</div>
