<div>
  <h4>{{ wildService.currentAnimal.name }}</h4>
  <p>Speed: {{ wildService.currentAnimal.speed }}</p>
  <p>Lifespan: {{ wildService.currentAnimal.lifespan }}</p>
  <p>Weight: {{ wildService.currentAnimal.weight }}</p>
  <p>Gestation period: {{ wildService.currentAnimal.gestationPeriod }}</p>
  <p>Distribution: {{ wildService.currentAnimal.distribution }}</p>
  <img
    [src]="wildService.currentAnimal.src"
    [alt]="wildService.currentAnimal.name"
  />
</div>
<div class="row justify-content-center">
  <app-paginator></app-paginator>
</div>
