.arrow {
  font-size: 80px;
  font-weight: bold;
  padding: 0 30px;
}

/*a {
  color: #17a2b8;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
}*/

span {
  color: #17a2b8;
  cursor: pointer;
}

span:hover {
  text-decoration: none;
  opacity: 0.5;
}

.paginator {
  padding-bottom: 30px;
}
